[flake8]
max-line-length = 79
extend-ignore = E203,W503
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    .coverage,
    htmlcov,
    dist,
    build,
    *.egg-info,
    venv,
    .venv,
    venv2
max-complexity = 10
count = True
statistics = True